.card{
  min-width: 330px;
  flex: 1;
  max-width: 100%;
}
.card.header{
  max-width:100%
}
div.plugin-row{
  display: flex;
  flex-wrap: wrap;
}

.card form input[type="text"], .card form textarea{
  width: 100% !important;
}
 